{% schema %}
{
  "name": "Image Masonry",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default Gallery",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% style %}
.masonry {
  /* Add your CSS for the masonry layout here */
  .image{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
{% endstyle %}

{% for block in section.blocks %}
  <div class="masonry-item">
    {% if block.settings.image != blank %}
    <img src="{{ block.settings.image | image_url: 'master' }}" alt="" width="auto" height="auto">
    {% endif %}
  </div>
{% endfor %}